= render 'layouts/github_ribbon'
.center.hero-unit
  = render 'static_page', title: nil, page: page
  = link_to t('.sign_up'), signup_path,
            class: "btn btn-large btn-primary"

= link_to image_tag("rails.png", alt: "Rails"),
                      'http://rubyonrails.org/'