- provide(:title, "Help")
%h1 Help
%p
  Get help on the Ruby on Rails Tutorial at the
  #{link_to 'Rails Tutorial Help Page', 'http://railstutorial.org/help'}.
  To get help on this sample app, see the
  #{link_to 'Rails Tutorial Book', 'http://railstutorial.org/book'}.
  