- if signed_in?
  / render here needs full path due to being called in Microposts#create
  = render 'static_pages/home_signed_in',
           micropost: @micropost,
           feed_items: @feed_items
- else
  = render 'home_not_signed_in', page: @page