- if object.errors.any?
  #error_explanation
    .alert.alert-error
      %a{href: '#', class: 'close', "data-dismiss" => 'alert'}="×"
      = t('.form_errors')
    / %ul
    /   - object.errors.full_messages.each do |msg|
    /     %li= msg