= simple_form_for micropost do |f|
  = render 'shared/error_messages', object: f.object
  .field= f.input :content,
                  as: :text,
                  label: false,
                  required: false,
                  placeholder: t('.compose_micropost'),
                  error: false
  %span.countdown
  = f.button :submit, t('.post'), class: "btn btn-large btn-primary"
