= form_for micropost do |f|
  = render 'shared/error_messages', object: f.object
  .field= f.text_area :content, placeholder: t('.compose_micropost')
  %span.countdown
  = f.submit t('.post'), class: "btn btn-large btn-primary"
