%li#fat-menu.dropdown
  %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
    %i.icon-globe
    = t('.language')
    %b.caret
  %ul.dropdown-menu
    - t('.language_labels').each_pair do |locale, label|
      %li
        = link_to label,
                  controller: controller,
                  action: action,
                  set_locale: locale,
                  page: page