= form_tag({ controller: controller_name, 
             action: @locale_action },
             method: 'get', 
             class: 'locale') do
  = select_tag 'set_locale', 
               options_for_select(LANGUAGES, I18n.locale.to_s)
  = submit_tag 'submit'